/* 总体样式 */
body {
    margin: 0 auto;
    padding: 0;
    font: 13px/24px normal 'Microsoft Yahei', Verdana, Arial, Sans-Serif;
    background: url(../images/bei.PNG) repeat;
}

a {
    color: #0279BB;
    text-decoration: none;
}

a:hover {
    color: #FF5400;
    text-decoration: underline;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

/* IE < 8 */
.clearfix {
    zoom: 1;
} 


/* 导航 */
header {
}

header .navbar-inner {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

/* content部分 */
.content {
    margin: 0 150px;
}

.content .tabbable {
    position: relative;
}

.content .tabbable .nav-tabs {
    /*float: left;*/
}

.content .tabbable .tab-content {
    /*float: right;*/
    /*display: inline;*/
    /*width: 600px;*/
    position: absolute;
    left: 150px;
    top: 0px;
}

.item-block {
    
}

.item-block img {
    width: 500px;
    height: 400px;
}

/*.tab-content {
    float: right;
    display: inine;
}
*/
/* 尾部 */
/*footer {
    padding: 20px 220px 0 220px;    
}
*/
footer p {
    margin: 0;
}
