#calculotor {
	width: 375px;
	height: 520px;
	border: 2px solid #333333;
	margin: 20px auto auto 20px;
	background-image: url(../images/Capture.PNG);
	border-radius: 5px;
	padding: 10px;
	-webkit-user-select: none;
}

#calc_title {
	position: relative;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 25px;
	color: #F9CC21;
	margin: -5px 0 5px;
}

#sound {
	display: none;
}

#calc_sound {
	position: absolute;
	left: 340px;
	top: -5px;
	display: inline;
	background: url(../images/1.jpg) -154px -60px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 25px;
}

#sound:checked+label {
	background: url(../images/1.jpg) -110px -60px;	
}

#calc_inner {
	position: relative;
	width: 99%;
	height: 55px;
	font-size: 30px;
	font-weight: bold;
	color: #272822;
	border: 2px solid #EEEEEE;
	border-radius: 5px;
	background: #FFFFFF;
	-webkit-user-select: none;
}

#calc_inner #calc_inner_number {
	height: 35px;
	margin: 18px 0 0;
	text-align: right;
}

#calc_inner #calc_inner_operator {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 16px;
	font-size: 18px;
	color: #000000;
}

ul {
	list-style-type: none;
	margin: 0px;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-top: 10px;
	background: #E9E4FC;
	border-radius: 5px;
}

li {
	position: relative;
	display: inline-table;
	width: 63px;
	height: 20px;
	padding: 5px 0px 3px;
	margin: 8px 1px;
	border: 2px solid #ccc;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	font-family: Segoe Print Bold, Lucida Sans, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 18px;
	color: #FFFFFF;
	text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	background-color: rgba(60, 132, 198, 0.8);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(108, 191, 255, .9)), to(rgba(28, 91, 155, 0.8)));
	border-top-color: #8ba2c1;
	border-right-color: #5890bf;
	border-bottom-color: #4f93ca;
	border-left-color: #768fa5;
	box-shadow: rgba(66, 140, 240, 0.5) 0px 3px 3px;
}

li:active {
	cursor: pointer;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(28, 91, 155, 0.8)), to(rgba(108, 191, 255, .9)));
}

li:hover {
	cursor: pointer;
	box-shadow: 0px 5px 5px #3272B2;
}

.auxiliary_button {
	width: 51px;
}

#cal_shift {
	background: #E9BE1F;
	color: #000000;
}

.gray {
	background: #A7A7A7;
}

.red {
	background: #FF2424;
}

.yellow {
	color: #F9CC21;
}