/*整体大块定位*/
	* {
		margin: 0;
		padding: 0;
	}

	body {
		margin: 0;
		padding: 0;
		background: #ededed;
		color: #555;
		font: 16px/24px normal 'Microsoft Yahei', Verdana, Arial, Sans-Serif;
	}

	.clear {
		clear: both;
	}

	a {
		text-decoration: none;
	}

	.width1200 {
		width: 1200px;
		margin: 0 auto;
	}

	 .font a {
		text-decoration: none;
		font-weight: bold;
		font-size: 30px;
		color: #159def;
		line-height: 1.3em;
	}

	 .font a:hover {
		color: #11639d;
	}

	#banner,#search,#nav,#main,#footer {
		border: 1px solid #ccc;
	}

	#nav,#main,#footer {
		background: #fff;
	}

	#main {
		float: left;
		padding: 20px;
		width: 720px;
	}

/*分块*/

/*广告条*/
	#banner {
		background: #2a2a2a;
		height: 35px;
	}

	#banner #menu {
		list-style: none;
		float: left;
	}

	#banner #menu .nei {
		position: relative;
		padding: 0px 25px;
	}

	#banner #menu s {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #fff;
		position: absolute;
		right: 5px;
		top: 15px;
	}

	#banner #menu li .nei:hover s {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #00a6fc;
	}

	#banner #menu li .nei:hover {
		background: #fff;
		color: #000;
	}

	#banner #menu li {
		float: left;
		display: block;
		position: relative;
		line-height: 35px;
	}

	#banner #menu li a {
		font-size: 14px;
		display: block;
		text-decoration: none;
		color: #DDD;
	}

	#banner #menu li .heng {
		position: absolute;
		left: -9999px;
		background: #fff;
		z-index: 9999;
		width: 200px;
		padding: 20px;
		border: 1px solid #ddd;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		border-top: none;
	}

	#banner #menu li:hover .heng {
		left: -1px;
	}

	#banner #menu .heng dd {
		margin-top: 3px;
	}

	#banner #menu .heng dd a {
		font-weight: bold;
		color: #ffffff;
		text-align: center;
		font-size: 17px;
	}

	#banner #menu dd a.cen {
		background: #dadad0;
		color: #000;
	}

	#banner #menu dd a.cen:hover {
		background: #ededed;
	}

	#banner #menu dd .top1 {
		background: #ff2424;
	}

	#banner #menu dd .top1:hover {
		background: #d01217;
	}

	#banner #menu dd .top2 {
		background: #79b900;
	}

	#banner #menu dd .top2:hover {
		background: #006bbc;
	}

	#banner #menu dd .top3 {
		background: #0192dd;
	}

	#banner #menu dd .top3:hover {
		background: #006bbc;
	}

	#banner #menu .heng p {
		line-height: 1.2em;
		font-size: 12px;
	}

	#banner #menu .heng p a {
		color: #00a6fc;
		font-size: 12px;
		display: inline;
	}

	#banner #menu .heng p a:hover {
		color: #11639d;
	}

	#banner #logo {
		float: right;
		height: 35px;
	}

	#banner #logo ul {
		list-style: none;
		float: right;
	}

	#banner #logo ul li {
		float: left;
		color: #fff;
		font-weight: bold;
		margin: 5px 9px 5px 8px;
		font-size: 13px;
		border-radius: 10px;
		padding: 0px 15px;
	}

	#banner #logo #radius1 {
		background: #c9272b;
	}

	#banner #logo #radius2 {
		background: #0e9bec;
	}

	#banner #logo #radius3 {
		color: #000;
		background: #f4f4f4;
	}

	#banner #menu #speac {
		width: 410px;
	}

	#banner #speac div {
		float: left;
		width: 200px;
	}

	#banner #speac div h3 a {
		font-size: 20px;
		font-weight: normal;
		color: #47a3f3;
	}

	#banner #speac div h3 a:hover {
		color: #117bca;
		font-size: 18px;
	}

	#banner #speac dd {
		margin: 0 0 15px 20px;
	}

/*搜索框*/
	#search {
		background: #fff;
	}

	#search .width1200 {
		position: relative;
	}

	#search #img1 {
		margin: 10px 10px 30px 0;
	}

	#search form {
		position: absolute;
		right: 0px;
		top: 50px;
	}

	#search form #search1 {
		width: 150px;
		height: 28px;
		border: 1px solid #bbb;
		background: url(./images/input-bg.png) no-repeat left top;
		font-size: 18px;
		text-align: right;
		border-radius: 4px;
	}

	/*导航条*/
	#nav {
		position: fixed;
		width: 150px;
		height: 300px;
		margin-top: 20px;
	}

	#nav .bor {
		display: block;
		float: left;
		clear: left;
		width: 100%;
	}

	#nav dd #active {
		float: left;
		background: #00a6fc;
		padding: 15px 15px;
		color: #fff;
		font-weight: bold;
	}

	#nav dd #browser {
		float: right;
		padding: 15px 19px;
	}

	#nav dd a {
		text-decoration: none;
		font-size: 15px;
		color: #666;
	}

	#nav dd a:hover {
		display: block;
		background: #00a6fc;
		font-weight: bold;
		color: #fff;
	}

	#nav .news a {
		float: left;
		clear: left;
		padding: 9px 20px;
		border-bottom: 1px solid #eee;
		width: 110px;
	}

	#nav .news #car {
		border: none;
		padding: 8px 20px;
	}

	/*主体*/
	#content {
		margin-top: 20px;
		float: right;
	}

	/*左边部分*/
	#main {
		width: 700px;
		float: left;
	}

	/*切换块*/
	.hot {
		background: #fcfbf6;
		height: 150px;
	}

	.hot .hot-left {
		display: inline;
		float: left;
	}

	.hot .hot-right {
		display: inline;
		float: left;
		margin-left: 20px;
		width: 500px;
	}

	.hot .hot-right .font {
		display: inline;
	}
	.hot .hot-right .font a {
		text-decoration: none;
		font-weight: bold;
		font-size: 30px;
		color: #159def;
		line-height: 1.3em;
	}

	.hot .hot-right .font a:hover {
		color: #11639d;
	}

	.hot .hot-right p {
		font-size: 10px;
		line-height: 1.5em;
	}

	/*小块1*/

	.block {
		border-bottom: 1px dashed #ddd;
		position: relative;
		margin-top: 20px;
	}

	.block .blue {
		margin: 15px 0 0 5px;
	}

	.block .blue a {
		font-size: 14px;
		font-weight: bold;
		color: #1282d0;
		text-decoration: none;
	}

	.block .blue a:hover {
		color: #11639d;
	}

	.block .blue span {
		color: #222;
		font-size: 12px;
		font-weight: bold;
	}

	.block img {
		float: left;
		margin: 5px 15px 110px 5px;
	}

	.block .blank {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 20px;
		width: 133px;
		height: 34px;
		background: #00a6fc;
		text-align: center;
	}

	.block .blank:hover {
		background: #0192dd;
	}

	.block .blank a {
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		font-size: 17px;
		line-height: 1.8em;
	}

	.block p a {
		text-decoration: none;
		color: #00a6fc;
	}
	.block p  a:hover {
		color: #1282d0;
	}

/*内容中最下面一块*/

	#tab ul {
		list-style: none;
		text-align: left;
		margin-top: 20px;
	}

	#tab ul li a {
		color: #555;
		margin: 10px;
	}

	#tab ul li a:hover {
		color: #141414;
		text-decoration: underline;
	}

	/*侧栏*/
	#sidebar {
		float: right;
		width: 280px;
		margin-left: 13px;
	}

	/*第一块*/
	.image {
		border: 1px solid #ccc;
		padding: 10px 15px;
		margin-top: 10px;
		background: #fff;
	}

	#sidebar #none-margin {
		margin-top: 0;
	}
	/*第二块*/
	.box {
		padding: 0px;
		padding-top: 62px;
		background-color: #EDEDED;
	}

	.box .tabs {
		display: block;
		height: 30px;
		padding: 0;
		border-bottom: 1px solid #ccc;
		margin: -41px 0 0px;
	}

	.box .content {
		background-color: #FFFFFF;
		padding: 10px;
		border: 1px solid #ccc;
		border-top: 0;
	}

	.box .tabs dd {
		float: left;
	}

	.box .tabs dd a {
		display: block;
		height: 29px;
		padding: 0px 9px;
		line-height: 30px;
		border: solid 1px #DDD;
		margin: 0 -1px 0 0;
		color: #555;
		background: #EEE;
	}

	.box .tabs dd a:hover {
		background: #fff;
		font-weight: bold;
	}

	.box .tabs dd .active {
		font-weight: bold;
		background: white;
		border-width: 1px 1px 0px 1px;
		height: 30px;
	}

	.tabs_content form .search2 {
		width: 250px;
		height: 28px;
		font-size: 19px;
		margin-top: 15px;
		background: url(./images/input-bg.png) no-repeat left top;
		border: 2px solid #bbb;
		border-radius: 4px;
	}

	.tabs_content form .fr {
		margin: 15px 0;
	}

	.tabs_content form #button {
		width: 100px;
		height: 35px;
		background: #00a6fc;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		border: none;
	}

	.tabs_content form #button:hover {
		background: #0192dd;
	}

	#web1 .parent {
		position: relative;
		width: 255px;
		height: 50px;
		border: 1px solid #d6d6d6;
		background: #f6f6f6;
		border-radius: 4px;
		margin-top: 10px;
	}

	#web1 .parent .child a {
		position: absolute;
		left: 8px;
		top: 5px;
		width: 180px;
		height: 36px;
		border: 1px solid #aaa;
		background: #00a6fc;
		border-radius: 18px;
		line-height: 36px;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
		color: #fff;
	}

	#web1 .parent .child a:hover {
		background: #2ea5e3;
	}

	#web1 .parent span {
		float: right;
		margin: 3px 5px 0 0;
	}

	#web1 .parent span a {
		color: #00a6fc;
		font-weight: bold;
		font-size: 14px;
	}

	#web1 .parent span a:hover {
		color: #116390;
	}

	/*第三块*/

	.box .spec {
		color: #999;
		list-style: upper-roman outside none;
		width: 235px;
		padding: 0;
		margin-left: 25px;
	}

	.box .spec li {
		border: 1px solid #CCC;
		margin: 10px 0 0;
		padding: 10px;
		font-size: 14px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background: #F6F6F6;
	}

	.box .spec li span {
		color: #01a7fd;
	}

	.box .spec li span:hover {
		color: #11639d;
	}


/*页脚*/

	#footer {
		margin-top: 20px;
	}

	#footersub {
		border-top: 1px solid #ccc;
		margin: 40px auto 0;
		width: 1200px;
		height: 180px;
		font-size: 13px;
		line-height: 1.4em;
		position: relative;
	}

	#footer a {
		color: #00a6fc;
	}

	#footer a:hover {
		color: #11639d;
	}

	#footer-left,#footer-center,#footer-right {
		margin: 20px 10px 10px 10px;
		float: left;
	}

	#footer-left {
		width: 280px;
	}

	#footer h3 {
		color: #000;
		font-size: 18px;
	}

	#footer-center {
		width: 470px;
	}

	#footer-right {
		width: 360px;
	}

	#footer-right p {
		color: #808080;
	}

	#footersub img {
		position: absolute;
		right: 30px;
		bottom: 80px;
	}
